<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/bootstrap.css}"      rel="stylesheet" href="../static/css/bootstrap.css">



    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script  th:src="@{/js/bootstrap.js}"  src="../static/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer App Spring Boot </title>
</head>
<body>
  <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Primera Aplicación Spring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}" href="#">Inicio <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Galeria</a>
            <a class="nav-item nav-link" href="#">Post</a>
          </div>
        </div>
      </nav>
<!-- Headers-->
      <div class="jumbotron">
        <h1 class="display-4">Hola, Bienvenido!</h1>
        <p class="lead">En esta pagina encontraras todo tipo de informacion relevante del momento</p>
        <hr class="my-4">
        <p>Esta es una practica.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
      
      <!-- FORMS-->
      <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1> Nuevo Post! </h1>
                <form th:action="@{/home/addNewPost}" method="post" th:object="${post}"> 
                    <div class="form-row">
                      <label for="inputAddress">Id</label>
                      <input th:field= "*{id}" th:value= "*{id}"  type="number" class="form-control" id="inputAddress" placeholder=" Identificador">
                    </div>
                    <div class="form-row">
                      <label for="inputAddress2">Descripción</label>
                      <input th:field= "*{descripcion}" th:value= "*{descripcion}"  type="text" class="form-control" id="inputAddress2" placeholder="">
                    </div>

                    <div class="form-row">
                        <label for="inputAddress2">Titulo</label>
                        <input th:field= "*{Titulo}" th:value= "*{Titulo}" type="text" class="form-control" id="inputAddress2" placeholder="">
                      </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Imagen</label>
                        <input th:field= "*{urlImg}" th:value= "*{urlImg}" type="text" class="form-control" id="inputCity">
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Fecha</label>
                        <input th:field= "*{fecha}" th:value= "*{fecha}" type="date" class="form-control" id="inputCity">
                      </div>

                    </div>



                    <button type="submit" class="btn btn-primary">Añadir</button>
                  </form>




            </div>

        </div>

      </div>
<footer>
  <p>Realizado Por Camilo Rozo </p>
</footer>
</body>
</html>